# bootanimation oneshot service
type bootanim, domain;
type bootanim_exec, exec_type, file_type;

init_daemon_domain(bootanim)

binder_use(bootanim)
binder_call(bootanim, surfaceflinger)

allow bootanim gpu_device:chr_file rw_file_perms;

# Set service.bootanim.exit.
unix_socket_connect(bootanim, property, init)
allow bootanim system_prop:property_service set;

permissive bootanim;
