type keystore, domain;
permissive keystore;
type keystore_exec, exec_type, file_type;

# keystore daemon
init_daemon_domain(keystore)
#unconfined_domain(keystore)

# Use open file descriptor
allow keystore domain:fd use;

# Communicate with init through unix domain socket
allow keystore init:unix_stream_socket { read write };

# Access dir and different file types
allow keystore app_data_file:file rw_file_perms;
allow keystore firmware:dir r_dir_perms;
allow keystore firmware:file create_file_perms;
allow keystore sdcard_type:dir create_dir_perms;
allow keystore sdcard_type:file create_file_perms;
