# mdns daemon
type mdnsd, domain;
type mdnsd_exec, exec_type, file_type;

init_daemon_domain(mdnsd)
net_domain(mdnsd)

###
### Neverallow rules
###

neverallow mdnsd { file_type -system_file -exec_type }:file execute;
